<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datahub.mybatis.mapper.PositionInformationMapper" >
  <resultMap id="BaseResultMap" type="com.datahub.domain.PositionInformation" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="ent_code" property="entCode" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="parent_business_code" property="parentBusinessCode" jdbcType="VARCHAR" />
    <result column="heir_code" property="heirCode" jdbcType="VARCHAR" />
    <result column="heir_name" property="heirName" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="active" property="active" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getAllPosition" resultType="list">
    select name
    from position_information
    where ent_code = #{entCode,javaType=string};
  </select>
  <select id="searchPositionByKeyword" resultType="list">
    select name
    from position_information
    where ent_code = #{entCode,javaType=string}
      and name like concat ('%',#{keyword},'%');
  </select>
</mapper>